.wrapper-container {
  padding: 3.125em 0;
}
.c-px-to-em {
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.c-px-to-em__section {
  margin-bottom: 0.938em;
}
.c-px-to-em__section-header {
  font-weight: 700;
  margin-bottom: 0.313em;
}
.c-px-to-em__inp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-px-to-em__input {
  margin-right: 0.313em;
  width: 4em;
}
.c-px-to-em__or {
  display: flex;
}
.c-px-to-em__or-col {
  width: 50%;
}
.c-px-to-em__or-header {
  font-weight: 500;
  margin-bottom: 0.313em;
}
